auto-install-peers = true
enable-pre-post-scripts=true
public-hoist-pattern[]=*eslint-plugin-*
public-hoist-pattern[]=@typescript-eslint/eslint-plugin
public-hoist-pattern[]=@typescript-eslint/parser
