
  .theme-zinc {
    --background: ;
    --foreground: ;
 
    --muted: ;
    --muted-foreground: ;
 
    --popover: ;
    --popover-foreground: ;
 
    --card: ;
    --card-foreground: ;
 
    --border: ;
    --input: ;
 
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
 
    --accent: ;
    --accent-foreground: ;
 
    --destructive: 0 72.22% 50.59%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 240 5% 64.9%;
 
    --radius: ;
  }
 
  .dark .theme-zinc {
    --background: ;
    --foreground: ;
 
    --muted: ;
    --muted-foreground: ;
 
    --popover: ;
    --popover-foreground: ;
 
    --card: ;
    --card-foreground: ;
 
    --border: ;
    --input: ;
 
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
 
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
 
    --accent: ;
    --accent-foreground: ;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
 
    --ring: 240 4.9% 83.9%;
  }

  .theme-tomato {
    --background: ;
    --foreground: ;
 
    --muted: ;
    --muted-foreground: ;
 
    --popover: ;
    --popover-foreground: ;
 
    --card: ;
    --card-foreground: ;
 
    --border: ;
    --input: ;
 
    --primary: 10 78% 54%;
    --primary-foreground: 0 0% 93%;
 
    --secondary: 12 100% 91%;
    --secondary-foreground: 8 50% 24%;
 
    --accent: ;
    --accent-foreground: ;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 10 78% 54%;
 
    --radius: ;
  }
 
  .dark .theme-tomato {
    --background: ;
    --foreground: ;
 
    --muted: ;
    --muted-foreground: ;
 
    --popover: ;
    --popover-foreground: ;
 
    --card: ;
    --card-foreground: ;
 
    --border: ;
    --input: ;
 
    --primary: 10 78% 54%;
    --primary-foreground: 0 0% 93%;
 
    --secondary: 4 64% 19%;
    --secondary-foreground: 10 86% 89%;
 
    --accent: ;
    --accent-foreground: ;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 10 78% 54%;
  }

  .theme-red {
    --background: ;
    --foreground: ;
 
    --muted: ;
    --muted-foreground: ;
 
    --popover: ;
    --popover-foreground: ;
 
    --card: ;
    --card-foreground: ;
 
    --border: ;
    --input: ;
 
    --primary: 358 75% 59%;
    --primary-foreground: 0 0% 93%;
 
    --secondary: 358 100% 93%;
    --secondary-foreground: 351 63% 24%;
 
    --accent: ;
    --accent-foreground: ;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 358 75% 59%;
 
    --radius: ;
  }
 
  .dark .theme-red {
    --background: ;
    --foreground: ;
 
    --muted: ;
    --muted-foreground: ;
 
    --popover: ;
    --popover-foreground: ;
 
    --card: ;
    --card-foreground: ;
 
    --border: ;
    --input: ;
 
    --primary: 358 75% 59%;
    --primary-foreground: 0 0% 93%;
 
    --secondary: 348 68% 19%;
    --secondary-foreground: 350 100% 91%;
 
    --accent: ;
    --accent-foreground: ;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 358 75% 59%;
  }

  .theme-ruby {
    --background: ;
    --foreground: ;
 
    --muted: ;
    --muted-foreground: ;
 
    --popover: ;
    --popover-foreground: ;
 
    --card: ;
    --card-foreground: ;
 
    --border: ;
    --input: ;
 
    --primary: 348 75% 59%;
    --primary-foreground: 0 0% 93%;
 
    --secondary: 351 100% 93%;
    --secondary-foreground: 344 63% 24%;
 
    --accent: ;
    --accent-foreground: ;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 348 75% 59%;
 
    --radius: ;
  }
 
  .dark .theme-ruby {
    --background: ;
    --foreground: ;
 
    --muted: ;
    --muted-foreground: ;
 
    --popover: ;
    --popover-foreground: ;
 
    --card: ;
    --card-foreground: ;
 
    --border: ;
    --input: ;
 
    --primary: 348 75% 59%;
    --primary-foreground: 0 0% 93%;
 
    --secondary: 342 61% 19%;
    --secondary-foreground: 340 96% 91%;
 
    --accent: ;
    --accent-foreground: ;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 348 75% 59%;
  }

  .theme-crimson {
    --background: ;
    --foreground: ;
 
    --muted: ;
    --muted-foreground: ;
 
    --popover: ;
    --popover-foreground: ;
 
    --card: ;
    --card-foreground: ;
 
    --border: ;
    --input: ;
 
    --primary: 336 80% 58%;
    --primary-foreground: 0 0% 93%;
 
    --secondary: 341 94% 93%;
    --secondary-foreground: 332 63% 24%;
 
    --accent: ;
    --accent-foreground: ;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 336 80% 58%;
 
    --radius: ;
  }
 
  .dark .theme-crimson {
    --background: ;
    --foreground: ;
 
    --muted: ;
    --muted-foreground: ;
 
    --popover: ;
    --popover-foreground: ;
 
    --card: ;
    --card-foreground: ;
 
    --border: ;
    --input: ;
 
    --primary: 336 80% 58%;
    --primary-foreground: 0 0% 93%;
 
    --secondary: 331 62% 19%;
    --secondary-foreground: 330 91% 91%;
 
    --accent: ;
    --accent-foreground: ;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 336 80% 58%;
  }

  .theme-pink {
    --background: ;
    --foreground: ;
 
    --muted: ;
    --muted-foreground: ;
 
    --popover: ;
    --popover-foreground: ;
 
    --card: ;
    --card-foreground: ;
 
    --border: ;
    --input: ;
 
    --primary: 322 65% 55%;
    --primary-foreground: 0 0% 93%;
 
    --secondary: 323 79% 92%;
    --secondary-foreground: 320 70% 23%;
 
    --accent: ;
    --accent-foreground: ;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 322 65% 55%;
 
    --radius: ;
  }
 
  .dark .theme-pink {
    --background: ;
    --foreground: ;
 
    --muted: ;
    --muted-foreground: ;
 
    --popover: ;
    --popover-foreground: ;
 
    --card: ;
    --card-foreground: ;
 
    --border: ;
    --input: ;
 
    --primary: 322 65% 55%;
    --primary-foreground: 0 0% 93%;
 
    --secondary: 315 58% 19%;
    --secondary-foreground: 326 92% 91%;
 
    --accent: ;
    --accent-foreground: ;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 322 65% 55%;
  }

  .theme-plum {
    --background: ;
    --foreground: ;
 
    --muted: ;
    --muted-foreground: ;
 
    --popover: ;
    --popover-foreground: ;
 
    --card: ;
    --card-foreground: ;
 
    --border: ;
    --input: ;
 
    --primary: 292 45% 51%;
    --primary-foreground: 0 0% 93%;
 
    --secondary: 298 65% 92%;
    --secondary-foreground: 291 58% 23%;
 
    --accent: ;
    --accent-foreground: ;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 292 45% 51%;
 
    --radius: ;
  }
 
  .dark .theme-plum {
    --background: ;
    --foreground: ;
 
    --muted: ;
    --muted-foreground: ;
 
    --popover: ;
    --popover-foreground: ;
 
    --card: ;
    --card-foreground: ;
 
    --border: ;
    --input: ;
 
    --primary: 292 45% 51%;
    --primary-foreground: 0 0% 93%;
 
    --secondary: 297 42% 20%;
    --secondary-foreground: 300 59% 89%;
 
    --accent: ;
    --accent-foreground: ;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 292 45% 51%;
  }

  .theme-purple {
    --background: ;
    --foreground: ;
 
    --muted: ;
    --muted-foreground: ;
 
    --popover: ;
    --popover-foreground: ;
 
    --card: ;
    --card-foreground: ;
 
    --border: ;
    --input: ;
 
    --primary: 272 51% 54%;
    --primary-foreground: 0 0% 93%;
 
    --secondary: 277 81% 94%;
    --secondary-foreground: 270 50% 25%;
 
    --accent: ;
    --accent-foreground: ;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 272 51% 54%;
 
    --radius: ;
  }
 
  .dark .theme-purple {
    --background: ;
    --foreground: ;
 
    --muted: ;
    --muted-foreground: ;
 
    --popover: ;
    --popover-foreground: ;
 
    --card: ;
    --card-foreground: ;
 
    --border: ;
    --input: ;
 
    --primary: 272 51% 54%;
    --primary-foreground: 0 0% 93%;
 
    --secondary: 277 39% 22%;
    --secondary-foreground: 275 77% 92%;
 
    --accent: ;
    --accent-foreground: ;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 272 51% 54%;
  }

  .theme-violet {
    --background: ;
    --foreground: ;
 
    --muted: ;
    --muted-foreground: ;
 
    --popover: ;
    --popover-foreground: ;
 
    --card: ;
    --card-foreground: ;
 
    --border: ;
    --input: ;
 
    --primary: 252 56% 57%;
    --primary-foreground: 0 0% 93%;
 
    --secondary: 256 100% 95%;
    --secondary-foreground: 249 43% 26%;
 
    --accent: ;
    --accent-foreground: ;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 252 56% 57%;
 
    --radius: ;
  }
 
  .dark .theme-violet {
    --background: ;
    --foreground: ;
 
    --muted: ;
    --muted-foreground: ;
 
    --popover: ;
    --popover-foreground: ;
 
    --card: ;
    --card-foreground: ;
 
    --border: ;
    --input: ;
 
    --primary: 252 56% 57%;
    --primary-foreground: 0 0% 93%;
 
    --secondary: 256 42% 25%;
    --secondary-foreground: 249 94% 93%;
 
    --accent: ;
    --accent-foreground: ;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 252 56% 57%;
  }

  .theme-iris {
    --background: ;
    --foreground: ;
 
    --muted: ;
    --muted-foreground: ;
 
    --popover: ;
    --popover-foreground: ;
 
    --card: ;
    --card-foreground: ;
 
    --border: ;
    --input: ;
 
    --primary: 240 60% 60%;
    --primary-foreground: 0 0% 93%;
 
    --secondary: 238 100% 95%;
    --secondary-foreground: 238 43% 27%;
 
    --accent: ;
    --accent-foreground: ;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 240 60% 60%;
 
    --radius: ;
  }
 
  .dark .theme-iris {
    --background: ;
    --foreground: ;
 
    --muted: ;
    --muted-foreground: ;
 
    --popover: ;
    --popover-foreground: ;
 
    --card: ;
    --card-foreground: ;
 
    --border: ;
    --input: ;
 
    --primary: 240 60% 60%;
    --primary-foreground: 0 0% 93%;
 
    --secondary: 236 45% 27%;
    --secondary-foreground: 242 94% 94%;
 
    --accent: ;
    --accent-foreground: ;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 240 60% 60%;
  }

  .theme-indigo {
    --background: ;
    --foreground: ;
 
    --muted: ;
    --muted-foreground: ;
 
    --popover: ;
    --popover-foreground: ;
 
    --card: ;
    --card-foreground: ;
 
    --border: ;
    --input: ;
 
    --primary: 226 70% 55%;
    --primary-foreground: 0 0% 93%;
 
    --secondary: 224 100% 94%;
    --secondary-foreground: 226 50% 24%;
 
    --accent: ;
    --accent-foreground: ;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 226 70% 55%;
 
    --radius: ;
  }
 
  .dark .theme-indigo {
    --background: ;
    --foreground: ;
 
    --muted: ;
    --muted-foreground: ;
 
    --popover: ;
    --popover-foreground: ;
 
    --card: ;
    --card-foreground: ;
 
    --border: ;
    --input: ;
 
    --primary: 226 70% 55%;
    --primary-foreground: 0 0% 93%;
 
    --secondary: 225 54% 25%;
    --secondary-foreground: 224 100% 92%;
 
    --accent: ;
    --accent-foreground: ;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 226 70% 55%;
  }

  .theme-blue {
    --background: ;
    --foreground: ;
 
    --muted: ;
    --muted-foreground: ;
 
    --popover: ;
    --popover-foreground: ;
 
    --card: ;
    --card-foreground: ;
 
    --border: ;
    --input: ;
 
    --primary: 206 100% 50%;
    --primary-foreground: 0 0% 93%;
 
    --secondary: 203 100% 92%;
    --secondary-foreground: 216 71% 23%;
 
    --accent: ;
    --accent-foreground: ;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 206 100% 50%;
 
    --radius: ;
  }
 
  .dark .theme-blue {
    --background: ;
    --foreground: ;
 
    --muted: ;
    --muted-foreground: ;
 
    --popover: ;
    --popover-foreground: ;
 
    --card: ;
    --card-foreground: ;
 
    --border: ;
    --input: ;
 
    --primary: 206 100% 50%;
    --primary-foreground: 0 0% 93%;
 
    --secondary: 209 100% 19%;
    --secondary-foreground: 205 100% 88%;
 
    --accent: ;
    --accent-foreground: ;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 206 100% 50%;
  }

  .theme-cyan {
    --background: ;
    --foreground: ;
 
    --muted: ;
    --muted-foreground: ;
 
    --popover: ;
    --popover-foreground: ;
 
    --card: ;
    --card-foreground: ;
 
    --border: ;
    --input: ;
 
    --primary: 191 100% 39%;
    --primary-foreground: 0 0% 93%;
 
    --secondary: 187 71% 88%;
    --secondary-foreground: 192 69% 17%;
 
    --accent: ;
    --accent-foreground: ;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 191 100% 39%;
 
    --radius: ;
  }
 
  .dark .theme-cyan {
    --background: ;
    --foreground: ;
 
    --muted: ;
    --muted-foreground: ;
 
    --popover: ;
    --popover-foreground: ;
 
    --card: ;
    --card-foreground: ;
 
    --border: ;
    --input: ;
 
    --primary: 191 100% 39%;
    --primary-foreground: 0 0% 93%;
 
    --secondary: 193 100% 14%;
    --secondary-foreground: 190 80% 84%;
 
    --accent: ;
    --accent-foreground: ;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 191 100% 39%;
  }

  .theme-teal {
    --background: ;
    --foreground: ;
 
    --muted: ;
    --muted-foreground: ;
 
    --popover: ;
    --popover-foreground: ;
 
    --card: ;
    --card-foreground: ;
 
    --border: ;
    --input: ;
 
    --primary: 173 80% 36%;
    --primary-foreground: 0 0% 93%;
 
    --secondary: 166 62% 88%;
    --secondary-foreground: 174 65% 15%;
 
    --accent: ;
    --accent-foreground: ;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 173 80% 36%;
 
    --radius: ;
  }
 
  .dark .theme-teal {
    --background: ;
    --foreground: ;
 
    --muted: ;
    --muted-foreground: ;
 
    --popover: ;
    --popover-foreground: ;
 
    --card: ;
    --card-foreground: ;
 
    --border: ;
    --input: ;
 
    --primary: 173 80% 36%;
    --primary-foreground: 0 0% 93%;
 
    --secondary: 176 93% 12%;
    --secondary-foreground: 163 69% 81%;
 
    --accent: ;
    --accent-foreground: ;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 173 80% 36%;
  }

  .theme-jade {
    --background: ;
    --foreground: ;
 
    --muted: ;
    --muted-foreground: ;
 
    --popover: ;
    --popover-foreground: ;
 
    --card: ;
    --card-foreground: ;
 
    --border: ;
    --input: ;
 
    --primary: 164 60% 40%;
    --primary-foreground: 0 0% 93%;
 
    --secondary: 149 49% 89%;
    --secondary-foreground: 160 34% 17%;
 
    --accent: ;
    --accent-foreground: ;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 164 60% 40%;
 
    --radius: ;
  }
 
  .dark .theme-jade {
    --background: ;
    --foreground: ;
 
    --muted: ;
    --muted-foreground: ;
 
    --popover: ;
    --popover-foreground: ;
 
    --card: ;
    --card-foreground: ;
 
    --border: ;
    --input: ;
 
    --primary: 164 60% 40%;
    --primary-foreground: 0 0% 93%;
 
    --secondary: 161 69% 14%;
    --secondary-foreground: 155 69% 81%;
 
    --accent: ;
    --accent-foreground: ;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 164 60% 40%;
  }

  .theme-green {
    --background: ;
    --foreground: ;
 
    --muted: ;
    --muted-foreground: ;
 
    --popover: ;
    --popover-foreground: ;
 
    --card: ;
    --card-foreground: ;
 
    --border: ;
    --input: ;
 
    --primary: 151 55% 42%;
    --primary-foreground: 0 0% 93%;
 
    --secondary: 140 49% 89%;
    --secondary-foreground: 155 40% 16%;
 
    --accent: ;
    --accent-foreground: ;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 151 55% 42%;
 
    --radius: ;
  }
 
  .dark .theme-green {
    --background: ;
    --foreground: ;
 
    --muted: ;
    --muted-foreground: ;
 
    --popover: ;
    --popover-foreground: ;
 
    --card: ;
    --card-foreground: ;
 
    --border: ;
    --input: ;
 
    --primary: 151 55% 42%;
    --primary-foreground: 0 0% 93%;
 
    --secondary: 154 55% 15%;
    --secondary-foreground: 144 70% 82%;
 
    --accent: ;
    --accent-foreground: ;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 151 55% 42%;
  }

  .theme-grass {
    --background: ;
    --foreground: ;
 
    --muted: ;
    --muted-foreground: ;
 
    --popover: ;
    --popover-foreground: ;
 
    --card: ;
    --card-foreground: ;
 
    --border: ;
    --input: ;
 
    --primary: 131 41% 46%;
    --primary-foreground: 0 0% 93%;
 
    --secondary: 123 45% 90%;
    --secondary-foreground: 131 30% 18%;
 
    --accent: ;
    --accent-foreground: ;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 131 41% 46%;
 
    --radius: ;
  }
 
  .dark .theme-grass {
    --background: ;
    --foreground: ;
 
    --muted: ;
    --muted-foreground: ;
 
    --popover: ;
    --popover-foreground: ;
 
    --card: ;
    --card-foreground: ;
 
    --border: ;
    --input: ;
 
    --primary: 131 41% 46%;
    --primary-foreground: 0 0% 93%;
 
    --secondary: 134 33% 17%;
    --secondary-foreground: 120 61% 85%;
 
    --accent: ;
    --accent-foreground: ;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 131 41% 46%;
  }

  .theme-bronze {
    --background: ;
    --foreground: ;
 
    --muted: ;
    --muted-foreground: ;
 
    --popover: ;
    --popover-foreground: ;
 
    --card: ;
    --card-foreground: ;
 
    --border: ;
    --input: ;
 
    --primary: 18 20% 54%;
    --primary-foreground: 0 0% 93%;
 
    --secondary: 19 33% 91%;
    --secondary-foreground: 12 22% 22%;
 
    --accent: ;
    --accent-foreground: ;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 18 20% 54%;
 
    --radius: ;
  }
 
  .dark .theme-bronze {
    --background: ;
    --foreground: ;
 
    --muted: ;
    --muted-foreground: ;
 
    --popover: ;
    --popover-foreground: ;
 
    --card: ;
    --card-foreground: ;
 
    --border: ;
    --input: ;
 
    --primary: 18 20% 54%;
    --primary-foreground: 0 0% 93%;
 
    --secondary: 20 10% 17%;
    --secondary-foreground: 21 36% 89%;
 
    --accent: ;
    --accent-foreground: ;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 18 20% 54%;
  }

  .theme-gold {
    --background: ;
    --foreground: ;
 
    --muted: ;
    --muted-foreground: ;
 
    --popover: ;
    --popover-foreground: ;
 
    --card: ;
    --card-foreground: ;
 
    --border: ;
    --input: ;
 
    --primary: 36 20% 49%;
    --primary-foreground: 0 0% 93%;
 
    --secondary: 44 26% 89%;
    --secondary-foreground: 38 16% 20%;
 
    --accent: ;
    --accent-foreground: ;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 36 20% 49%;
 
    --radius: ;
  }
 
  .dark .theme-gold {
    --background: ;
    --foreground: ;
 
    --muted: ;
    --muted-foreground: ;
 
    --popover: ;
    --popover-foreground: ;
 
    --card: ;
    --card-foreground: ;
 
    --border: ;
    --input: ;
 
    --primary: 36 20% 49%;
    --primary-foreground: 0 0% 93%;
 
    --secondary: 43 8% 16%;
    --secondary-foreground: 36 25% 88%;
 
    --accent: ;
    --accent-foreground: ;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 36 20% 49%;
  }

  .theme-brown {
    --background: ;
    --foreground: ;
 
    --muted: ;
    --muted-foreground: ;
 
    --popover: ;
    --popover-foreground: ;
 
    --card: ;
    --card-foreground: ;
 
    --border: ;
    --input: ;
 
    --primary: 28 34% 51%;
    --primary-foreground: 0 0% 93%;
 
    --secondary: 29 43% 90%;
    --secondary-foreground: 19 15% 21%;
 
    --accent: ;
    --accent-foreground: ;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 28 34% 51%;
 
    --radius: ;
  }
 
  .dark .theme-brown {
    --background: ;
    --foreground: ;
 
    --muted: ;
    --muted-foreground: ;
 
    --popover: ;
    --popover-foreground: ;
 
    --card: ;
    --card-foreground: ;
 
    --border: ;
    --input: ;
 
    --primary: 28 34% 51%;
    --primary-foreground: 0 0% 93%;
 
    --secondary: 26 19% 16%;
    --secondary-foreground: 35 61% 87%;
 
    --accent: ;
    --accent-foreground: ;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 28 34% 51%;
  }

  .theme-orange {
    --background: ;
    --foreground: ;
 
    --muted: ;
    --muted-foreground: ;
 
    --popover: ;
    --popover-foreground: ;
 
    --card: ;
    --card-foreground: ;
 
    --border: ;
    --input: ;
 
    --primary: 23 93% 53%;
    --primary-foreground: 0 0% 93%;
 
    --secondary: 34 100% 85%;
    --secondary-foreground: 16 50% 23%;
 
    --accent: ;
    --accent-foreground: ;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 23 93% 53%;
 
    --radius: ;
  }
 
  .dark .theme-orange {
    --background: ;
    --foreground: ;
 
    --muted: ;
    --muted-foreground: ;
 
    --popover: ;
    --popover-foreground: ;
 
    --card: ;
    --card-foreground: ;
 
    --border: ;
    --input: ;
 
    --primary: 23 93% 53%;
    --primary-foreground: 0 0% 93%;
 
    --secondary: 28 100% 14%;
    --secondary-foreground: 30 100% 88%;
 
    --accent: ;
    --accent-foreground: ;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 23 93% 53%;
  }

  .theme-amber {
    --background: ;
    --foreground: ;
 
    --muted: ;
    --muted-foreground: ;
 
    --popover: ;
    --popover-foreground: ;
 
    --card: ;
    --card-foreground: ;
 
    --border: ;
    --input: ;
 
    --primary: 42 100% 62%;
    --primary-foreground: 0 0% 13%;
 
    --secondary: 50 100% 81%;
    --secondary-foreground: 24 40% 22%;
 
    --accent: ;
    --accent-foreground: ;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 42 100% 62%;
 
    --radius: ;
  }
 
  .dark .theme-amber {
    --background: ;
    --foreground: ;
 
    --muted: ;
    --muted-foreground: ;
 
    --popover: ;
    --popover-foreground: ;
 
    --card: ;
    --card-foreground: ;
 
    --border: ;
    --input: ;
 
    --primary: 42 100% 62%;
    --primary-foreground: 0 0% 13%;
 
    --secondary: 37 100% 12%;
    --secondary-foreground: 41 100% 85%;
 
    --accent: ;
    --accent-foreground: ;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 42 100% 62%;
  }

  .theme-yellow {
    --background: ;
    --foreground: ;
 
    --muted: ;
    --muted-foreground: ;
 
    --popover: ;
    --popover-foreground: ;
 
    --card: ;
    --card-foreground: ;
 
    --border: ;
    --input: ;
 
    --primary: 53 100% 58%;
    --primary-foreground: 0 0% 13%;
 
    --secondary: 53 100% 79%;
    --secondary-foreground: 42 39% 20%;
 
    --accent: ;
    --accent-foreground: ;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 53 100% 58%;
 
    --radius: ;
  }
 
  .dark .theme-yellow {
    --background: ;
    --foreground: ;
 
    --muted: ;
    --muted-foreground: ;
 
    --popover: ;
    --popover-foreground: ;
 
    --card: ;
    --card-foreground: ;
 
    --border: ;
    --input: ;
 
    --primary: 53 100% 58%;
    --primary-foreground: 0 0% 13%;
 
    --secondary: 48 100% 11%;
    --secondary-foreground: 53 79% 84%;
 
    --accent: ;
    --accent-foreground: ;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 53 100% 58%;
  }

  .theme-lime {
    --background: ;
    --foreground: ;
 
    --muted: ;
    --muted-foreground: ;
 
    --popover: ;
    --popover-foreground: ;
 
    --card: ;
    --card-foreground: ;
 
    --border: ;
    --input: ;
 
    --primary: 81 80% 66%;
    --primary-foreground: 0 0% 13%;
 
    --secondary: 76 63% 84%;
    --secondary-foreground: 75 39% 18%;
 
    --accent: ;
    --accent-foreground: ;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 81 80% 66%;
 
    --radius: ;
  }
 
  .dark .theme-lime {
    --background: ;
    --foreground: ;
 
    --muted: ;
    --muted-foreground: ;
 
    --popover: ;
    --popover-foreground: ;
 
    --card: ;
    --card-foreground: ;
 
    --border: ;
    --input: ;
 
    --primary: 81 80% 66%;
    --primary-foreground: 0 0% 13%;
 
    --secondary: 92 31% 16%;
    --secondary-foreground: 80 79% 85%;
 
    --accent: ;
    --accent-foreground: ;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 81 80% 66%;
  }

  .theme-mint {
    --background: ;
    --foreground: ;
 
    --muted: ;
    --muted-foreground: ;
 
    --popover: ;
    --popover-foreground: ;
 
    --card: ;
    --card-foreground: ;
 
    --border: ;
    --input: ;
 
    --primary: 167 70% 72%;
    --primary-foreground: 0 0% 13%;
 
    --secondary: 165 67% 87%;
    --secondary-foreground: 171 51% 17%;
 
    --accent: ;
    --accent-foreground: ;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 167 70% 72%;
 
    --radius: ;
  }
 
  .dark .theme-mint {
    --background: ;
    --foreground: ;
 
    --muted: ;
    --muted-foreground: ;
 
    --popover: ;
    --popover-foreground: ;
 
    --card: ;
    --card-foreground: ;
 
    --border: ;
    --input: ;
 
    --primary: 167 70% 72%;
    --primary-foreground: 0 0% 13%;
 
    --secondary: 178 100% 11%;
    --secondary-foreground: 156 71% 86%;
 
    --accent: ;
    --accent-foreground: ;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 167 70% 72%;
  }

  .theme-sky {
    --background: ;
    --foreground: ;
 
    --muted: ;
    --muted-foreground: ;
 
    --popover: ;
    --popover-foreground: ;
 
    --card: ;
    --card-foreground: ;
 
    --border: ;
    --input: ;
 
    --primary: 193 98% 74%;
    --primary-foreground: 0 0% 13%;
 
    --secondary: 195 80% 90%;
    --secondary-foreground: 205 50% 23%;
 
    --accent: ;
    --accent-foreground: ;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 193 98% 74%;
 
    --radius: ;
  }
 
  .dark .theme-sky {
    --background: ;
    --foreground: ;
 
    --muted: ;
    --muted-foreground: ;
 
    --popover: ;
    --popover-foreground: ;
 
    --card: ;
    --card-foreground: ;
 
    --border: ;
    --input: ;
 
    --primary: 193 98% 74%;
    --primary-foreground: 0 0% 13%;
 
    --secondary: 208 67% 20%;
    --secondary-foreground: 192 100% 88%;
 
    --accent: ;
    --accent-foreground: ;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 193 98% 74%;
  }