@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 20% 99%;
    --foreground: 210 13% 13%;
    --card: 240 20% 98%;
    --card-foreground: 210 13% 13%;
    --popover: 240 20% 98%;
    --popover-foreground: 210 13% 13%;
    --muted: 230 11% 89%;
    --muted-foreground: 210 13% 13%;
    --accent: 240 11% 95%;
    --accent-foreground: 210 13% 13%;
    --primary: 206 100% 50%;
    --primary-foreground: 0 0% 93%;
    --secondary: 203 100% 92%;
    --secondary-foreground: 216 71% 23%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 233 10% 82%;
    --input: 233 10% 82%;
    --ring: 206 100% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 6% 7%;
    --foreground: 220 9% 94%;
    --card: 220 6% 10%;
    --card-foreground: 220 9% 94%;
    --popover: 220 6% 10%;
    --popover-foreground: 220 9% 94%;
    --muted: 214 7% 19%;
    --muted-foreground: 220 9% 94%;
    --accent: 225 6% 14%;
    --accent-foreground: 220 9% 94%;
    --primary: 206 100% 50%;
    --primary-foreground: 0 0% 93%;
    --secondary: 209 100% 19%;
    --secondary-foreground: 205 100% 88%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 213 8% 28%;
    --input: 213 8% 28%;
    --ring: 206 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute w-9 h-9 bg-muted rounded-full font-mono font-medium text-center text-base inline-flex items-center justify-center -indent-px border-4 border-background;
    @apply ml-[-50px] mt-[-4px];
    content: counter(step);
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}

.tomato {
  background-color: #e54d2e;
}
.red {
  background-color: #e5484d;
}
.ruby {
  background-color: #e54666;
}
.crimson {
  background-color: #e93d82;
}
.pink {
  background-color: #d6409f;
}
.plum {
  background-color: #ab4aba;
}
.purple {
  background-color: #8e4ec6;
}
.violet {
  background-color: #6e56cf;
}
.iris {
  background-color: #5b5bd6;
}
.indigo {
  background-color: #3e63dd;
}
.blue {
  background-color: #0090ff;
}
.cyan {
  background-color: #00a2c7;
}
.teal {
  background-color: #12a594;
}
.jade {
  background-color: #29a383;
}
.green {
  background-color: #30a46c;
}
.grass {
  background-color: #46a758;
}
.bronze {
  background-color: #a18072;
}
.gold {
  background-color: #978365;
}
.brown {
  background-color: #ad7f58;
}
.orange {
  background-color: #f76b15;
}
.amber {
  background-color: #ffc53d;
}
.yellow {
  background-color: #ffe629;
}
.lime {
  background-color: #bdee63;
}
.mint {
  background-color: #86ead4;
}
.sky {
  background-color: #7ce2fe;
}

.zinc {
  background-color: #fafafa;
}

.olive {
  background-color: #898e87;
}
.gray {
  background-color: #8d8d8d;
}
.mauve {
  background-color: #8e8c99;
}
.sage {
  background-color: #868e8b;
}
.sand {
  background-color: #8d8d86;
}
.slate {
  background-color: #8b8d98;
}
